
.idea/
dist/
*.egg-info/

.ipynb_checkpoints/

__pycache__/

.venrma

.virtual_documents/

\#*\#
.\#*

.venv/

cmake-build-debug/


*.o

*.pdf

*.sublime-workspace

.cache/

compile_commands.json

.pytest_cache/

rand/
rand-quant/
example-random.tex
example-random/
