# to work in pycharm 21
# https://docs.anaconda.com/free/anaconda/reference/packages/allpkglists/2021.11/

jupyter_client==6.1.12
jupyter_console==6.4.0
jupyter_core==4.8.1
jupyter_server==1.4.1
jupyterlab==3.2.1
jupyterlab_pygments==0.1.2
jupyterlab_server==2.8.2
jupyterlab_widgets==1.0.0
notebook==6.4.5
